@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&family=Work+Sans:wght@400;700&display=swap");
header .pc-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: fixed;
  background-color: white;
  z-index: 99999;
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

header .pc-header .header__list {
  width: calc(100% - 170px - 14vw);
  padding: 0 200px 0 0;
  max-width: 1250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

header .pc-header .header__item {
  text-align: center;
}

header .pc-header .header__item a:hover {
  text-decoration: none;
  color: #222;
}

header .pc-header .header__item span, header .pc-header .header__item p {
  font-size: 15px;
}

header .pc-header .header__line {
  min-width: 170px;
}

header .pc-header .header__reserve {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 14vw;
  max-width: 190px;
  height: 100px;
  right: 0;
  background-color: #225441;
  border-bottom-left-radius: 20px;
  padding: 2vw 3vw;
  color: white;
}

header .pc-header .header__reserve .title {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 5px;
}

header .sp-header .header__logo {
  width: 102px;
}

header .sp-header .menu-btn {
  position: fixed;
  top: 0px;
  right: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70px;
  width: 70px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 110;
  background-color: #225441;
  border-bottom-left-radius: 30px;
}

header .sp-header .menu-btn span {
  color: white;
  font-size: 35px;
  letter-spacing: -1.4em;
}

header .sp-header .menu-btn span:before {
  content: '・・・';
}

header .sp-header #menu-btn-check {
  display: none;
}

header .sp-header #menu-btn-check:checked ~ .menu-btn span {
  background-color: rgba(255, 255, 255, 0);
  /*メニューオープン時は真ん中の線を透明にする*/
}

header .sp-header #menu-btn-check:checked ~ .menu-btn span::before {
  bottom: 40px;
  content: '';
  display: block;
  height: 3px;
  width: 30px;
  right: 15px;
  border-radius: 3px;
  background-color: #ffffff;
  position: absolute;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

header .sp-header #menu-btn-check:checked ~ .menu-btn span::after {
  top: 28px;
  content: '';
  display: block;
  height: 3px;
  width: 30px;
  right: 15px;
  border-radius: 3px;
  background-color: #ffffff;
  position: absolute;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

header .sp-header #menu-btn-check:checked ~ .menu-content {
  left: 0;
  /*メニューを画面内へ*/
}

header .sp-header .menu-content {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 100%;
  z-index: 100;
  background-color: #222222;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

header .sp-header .menu-content ul {
  padding: 10vh 10px 0;
  margin-left: 10vw;
}

header .sp-header .menu-content ul .sp-sns {
  margin-top: 4vw;
}

header .sp-header .menu-content ul a {
  display: block;
  font-size: 18px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #ffffff;
  text-decoration: none;
  padding: 1vh 2vw 2vh 0;
  position: relative;
}

header .sp-header .menu-content ul a img {
  width: 170px;
}

header .sp-header .menu-content .copy-right {
  -ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
  color: white;
  position: absolute;
  right: 2vw;
  white-space: nowrap;
  bottom: 7vh;
  font-size: 11px;
}

.container {
  margin: auto;
  position: relative;
  font-family: 'Work Sans', 'Noto Sans JP', sans-serif;
  color: #222;
  margin: 0 auto;
  max-width: 1106px;
}

.bg-wave {
  position: absolute;
  top: 0;
  z-index: -5;
}

.bg-wave-down {
  position: absolute;
  bottom: 0;
  z-index: -5;
  width: 100vw;
  margin: 0 calc(50% - 50vw);
}

.sp-menu {
  position: fixed;
  width: 120px;
  right: 15px;
  z-index: 99;
  text-align: center;
  background-color: #225441;
  color: white;
  bottom: 20px;
  padding: 19px;
  border-radius: 20px;
}

.sp-menu a {
  font-size: 18px;
  font-weight: bold;
}

.small {
  font-size: 12px !important;
}

.l-title {
  position: relative;
  max-width: 1366px;
  padding-top: 156px;
}

.l-title .p-title {
  font-weight: bold;
  font-size: 183px;
  letter-spacing: 0.05em;
  text-align: left;
  margin-left: 70px;
}

.l-title .p-title__sub {
  font-weight: bold;
  margin-left: 85px;
  font-size: 36px;
  letter-spacing: 0.05em;
  line-height: 75px;
  text-align: left;
}

.l-title .p-title__icon {
  width: 174px;
  position: absolute;
  top: 250px;
  left: 565px;
}

.l-price {
  position: relative;
  max-width: 1106px;
  padding: 120px 130px;
}

.l-price .p-price__title {
  font-size: 40px;
  text-align: center;
  font-weight: bold;
}

.l-price .p-price__desc--title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f5efe9;
  margin-top: 58px;
}

.l-price .p-price__desc--num {
  font-size: 46px;
  font-weight: bold;
  line-height: 54px;
  text-align: center;
  width: 162px;
  background-color: #225441;
  color: white;
  border-bottom-right-radius: 20px;
}

.l-price .p-price__desc--heading {
  padding: 19px 0 0 94px;
  font-size: 22px;
  font-weight: bold;
  width: calc(100% - 162px);
}

.l-price .p-price__calendar .react-datepicker {
  border: none;
  width: 100%;
  margin-top: 25px;
}

.l-price .p-price__calendar .react-datepicker__month-container {
  width: 50%;
}

.l-price .p-price__calendar .react-datepicker__month-container:nth-child(2) {
  padding-right: 16px;
}

.l-price .p-price__calendar .react-datepicker__month-container:nth-child(3) {
  padding-left: 16px;
}

.l-price .p-price__calendar .react-datepicker__header--custom {
  border-bottom: none;
  background-color: white;
}

.l-price .p-price__calendar .react-datepicker .button-prev {
  color: #333333;
  font-size: 16px;
}

.l-price .p-price__calendar .react-datepicker .button-next {
  color: #333333;
  font-size: 16px;
}

.l-price .p-price__calendar .react-datepicker__current-year {
  margin: 0 61px;
  font-size: 24px;
}

.l-price .p-price__calendar .react-datepicker__current-months {
  text-align: left;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  padding: 32px 56px 0;
  border-right: 1px solid #d5d5d5;
  border-left: 1px solid #d5d5d5;
  border-top: 1px solid #d5d5d5;
}

.l-price .p-price__calendar .react-datepicker__current-month {
  text-align: left;
  font-size: 31px;
}

.l-price .p-price__calendar .react-datepicker__day {
  padding: 9px 5px;
}

.l-price .p-price__calendar .react-datepicker__day-names {
  padding: 37px 56px 0;
  border-right: 1px solid #d5d5d5;
  border-left: 1px solid #d5d5d5;
}

.l-price .p-price__calendar .react-datepicker__day-name,
.l-price .p-price__calendar .react-datepicker .react-datepicker__day {
  width: calc(100% / 7);
  margin: 0;
  font-size: 21px;
  margin-bottom: 15px;
}

.l-price .p-price__calendar .react-datepicker__day--in-selecting-range {
  background-color: rgba(34, 84, 65, 0.5);
}

.l-price .p-price__calendar .react-datepicker__day--in-range, .l-price .p-price__calendar .react-datepicker__day--keyboard-selected {
  background-color: #225441;
}

.l-price .p-price__calendar .react-datepicker__month {
  margin: 0;
  border-right: 1px solid #d5d5d5;
  border-left: 1px solid #d5d5d5;
  border-bottom: 1px solid #d5d5d5;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  height: 310px;
}

.l-price .p-price__calendar .react-datepicker__week {
  padding: 0 56px;
}

.l-price .p-price__car--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 40px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.l-price .p-price__car--item {
  width: 100%;
  padding: 0 25px;
  text-align: center;
}

.l-price .p-price__car--item button {
  position: relative;
}

.l-price .p-price__car--item button .p-price__car--checked {
  display: block;
  position: absolute;
  right: -25px;
  top: 0;
  width: 37px;
}

.l-price .p-price__car--img {
  height: 153px;
  -o-object-fit: contain;
  object-fit: contain;
  margin: 0 auto;
}

.l-price .p-price__car--name {
  font-size: 17px;
  margin-top: 18px;
}

.l-price .p-price__car--checked {
  display: none;
}

.l-price .p-price__option--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-top: 40px;
}

.l-price .p-price__option--list label {
  position: relative;
}

.l-price .p-price__option--list label p {
  border: 1px solid #d5d5d5;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  font-size: 18px;
  background-color: white;
}

.l-price .p-price__option--list label p:hover, .l-price .p-price__option--list label p:focus, .l-price .p-price__option--list label p:active {
  background-color: rgba(34, 84, 65, 0.5);
  color: white;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.l-price .p-price__option--list label input[type='checkbox' i],
.l-price .p-price__option--list label input[type='radio' i] {
  display: none;
}

.l-price .p-price__option--list label input[type='checkbox' i]:checked + p,
.l-price .p-price__option--list label input[type='radio' i]:checked + p {
  background-color: #225441;
  color: white;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.l-price .p-price__option--item {
  width: 25%;
  text-align: center;
}

.l-price .p-price__option--term {
  font-size: 12px;
  padding-top: 23px;
}

.l-price .p-price__option--term a {
  text-decoration: underline;
}

.l-price .p-price__option--term a:hover, .l-price .p-price__option--term a:focus, .l-price .p-price__option--term a:active {
  text-decoration: underline !important;
  color: inherit !important;
}

.l-price .p-price__calc {
  padding-top: 43px;
}

.l-price .p-price__calc button {
  width: 100%;
  max-width: 500px;
  font-size: 28px;
  background-color: #225441;
  color: white;
  border-radius: 40px;
  padding: 27px 0;
}

.l-price .p-price__calc button:disabled {
  background-color: #eaeaea;
  color: white;
}

.l-price .p-price__calc-result {
  margin-top: 100px;
  -webkit-box-shadow: 0 0 4px gray;
  box-shadow: 0 0 4px gray;
  border-radius: 20px;
  text-align: center;
  padding: 61px 0;
  background-color: white;
}

.l-price .p-price__calc-result--title {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 38px;
}

.l-price .p-price__calc-result--price {
  width: 80%;
  margin: 0 auto;
  background: #f5efe9;
  font-size: 70px;
  font-weight: bold;
  padding: 16px 0;
}

.l-price .p-price__calc-result--breakdown {
  padding-top: 29px;
  margin-bottom: 38px;
  font-size: 24px;
}

.l-price .p-price__calc-result--list {
  max-width: 312px;
  margin: 0 auto;
}

.l-price .p-price__calc-result--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 20px;
  font-size: 20px;
  padding-bottom: 17px;
  border-bottom: 1px dotted #707070;
}

.l-price .p-price__calc-reserv {
  text-align: center;
  margin: 0 auto;
  margin-top: 40px;
  -webkit-box-shadow: 0 0 4px gray;
  box-shadow: 0 0 4px gray;
  border-radius: 40px;
}

.l-price .p-price__calc-reserv a {
  position: relative;
  width: 100%;
  padding: 20px 0;
  border-radius: 40px;
  font-size: 35px;
  color: #225441;
}

.l-price .p-price__calc-reserv a:hover, .l-price .p-price__calc-reserv a:focus, .l-price .p-price__calc-reserv a:active {
  background-color: rgba(34, 84, 65, 0.5);
  color: white;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.l-price .p-price__calc-reserv a:focus, .l-price .p-price__calc-reserv a:active {
  background-color: #225441;
  color: white;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.l-price .p-price__calc-reserv a:focus span, .l-price .p-price__calc-reserv a:active span {
  background-color: white;
  color: #225441;
}

.l-price .p-price__calc-reserv a span {
  position: absolute;
  right: 4%;
  top: 15%;
  background-color: #225441;
  color: white;
  padding: 16px;
  font-size: 23px;
  border-radius: 50%;
}

.text-center {
  text-align: center;
}

.text-md {
  font-size: 16px !important;
}

.text-sm {
  font-size: 14px !important;
}

@media screen and (max-width: 767px) {
  .container {
    width: 100%;
  }
  .only-pc {
    display: none !important;
  }
  .only-sp {
    display: block !important;
  }
  .l-title {
    padding-top: 120px;
  }
  .l-title .p-title {
    font-size: 73px;
    margin-left: 30px;
  }
  .l-title .p-title__sub {
    font-size: 17px;
    margin-left: 30px;
    line-height: 30px;
  }
  .l-title .p-title__icon {
    width: 94px;
    top: 152px;
    left: 218px;
  }
  .l-price {
    padding: 63px 30px;
  }
  .l-price .p-price__title {
    font-size: 24px;
  }
  .l-price .p-price__desc--title {
    margin-top: 60px;
  }
  .l-price .p-price__desc--title.m-3 {
    margin-top: 20px !important;
  }
  .l-price .p-price__desc--num {
    width: 84px;
    font-size: 38px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .l-price .p-price__desc--heading {
    padding: 19px 47px 19px 33px;
    font-size: 20px;
    width: calc(100%);
    text-align: center;
  }
  .l-price .p-price__calendar .react-datepicker__month-container {
    width: 100%;
  }
  .l-price .p-price__calendar .react-datepicker__month-container:nth-child(2) {
    padding: 0;
  }
  .l-price .p-price__calendar .react-datepicker__month-container:nth-child(3) {
    padding: 0;
    display: none;
  }
  .l-price .p-price__calendar .react-datepicker__current-months {
    padding: 32px 20px 0px;
  }
  .l-price .p-price__calendar .react-datepicker__day-names {
    padding: 37px 15px 0;
  }
  .l-price .p-price__calendar .react-datepicker__week {
    padding: 0 15px;
  }
  .l-price .p-price__car--list {
    overflow: scroll;
    overflow-y: hidden;
    width: 100%;
  }
  .l-price .p-price__car--item {
    min-width: 50%;
    padding: 0 10px;
  }
  .l-price .p-price__car--item button:hover .p-price__car--checked {
    display: block;
    position: absolute;
    right: -25px;
    top: 0;
    width: 37px;
  }
  .l-price .p-price__car--img {
    height: 117px;
    padding: 0 10px;
    -o-object-fit: contain;
    object-fit: contain;
  }
  .l-price .p-price__car--name {
    font-size: 16px;
  }
  .l-price .p-price__option--list label p {
    margin: 5px;
    height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .l-price .p-price__option--item {
    width: 50%;
  }
  .l-price .p-price__calc button {
    width: 100%;
  }
  .l-price .p-price__calc-result--title {
    font-size: 24px;
  }
  .l-price .p-price__calc-result--price {
    font-size: 50px;
  }
  .l-price .p-price__calc-result--list {
    width: 80%;
  }
  .l-price .p-price__calc-reserv a {
    color: white;
    background-color: #225441;
    font-size: 22px;
  }
  .l-price .p-price__calc-reserv a span {
    padding: 0;
    top: 30%;
  }
}

@media screen and (min-width: 768px) {
  .only-pc {
    display: block !important;
  }
  .only-sp {
    display: none !important;
  }
}
/*# sourceMappingURL=App.css.map */
